<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ativação do Plugin</title>
    <link rel="stylesheet" href="../css/activation_key2.css">
</head>
<body>
    <div class="container">
        <form action="/activation_key" method="post">
            <h2>Ativação do Plugin</h2>
            <p>Insira a chave de ativação fornecida.</p>
            <input type="text" id="activationKey" placeholder="Digite sua chave">
            <button id="activateButton">Ativar</button>
            <p id="message"></p>
        </form>
    </div>

    <script src="../app2.js"></script>

    <!-- <script src="../../../activation_key.js"></script> -->
    <!-- <script src="dist/bundle.js"></script> -->

    <!-- <script src="../js/activation_key.js"></script> -->
</body>
</html>
