/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Área de visualização 3D */
#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Painéis laterais */
.panel-left,
.panel-right {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #ffffffee;
  padding-top: 60px;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  z-index: 2;
}

.panel-spacer {
  height: 50px;
}

/* Painel esquerdo recolhido */
.panel-left {
  left: 0;
  transform: translateX(-100%);
}

/* Painel direito recolhido */
.panel-right {
  right: 0;
  transform: translateX(100%);
}

/* Painéis expandidos */
.panel-left.expanded {
  transform: translateX(0);
}

.panel-right.expanded {
  transform: translateX(0);
}

/* Botões de abrir painel */
.panel-toggle {
  position: fixed;
  top: 5px;
  background: none;
  border: none;
  font-size: 22px;
  color: #333;
  cursor: pointer;
  z-index: 3;
  width: 40px;
  height: 40px;
  text-align: center;
}

.left-toggle {
  left: 5px;
}

.right-toggle {
  right: 5px;
}

/* Botões de fechar painel */
.close-panel {
  position: absolute;
  top: 12px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  z-index: 4;
  width: 30px;
  height: 30px;
  text-align: center;
}

.panel-toggle:hover::after,
.close-panel:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 4px;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(154, 155, 255, 0.8);
  color: #fff;
  /* padding: 4px 8px; */
  border-radius: 15px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 5;
  /* margin-top: 6px; */
  pointer-events: none;
}

/* Menus internos */
.menu {
  margin-bottom: 20px;
}

.dropdown-btn {
  background-color: #e63946;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  margin-top: 8px;
}

.dropdown-content.show {
  display: flex;
}

.dropdown-content button,
.dropdown-content select,
.dropdown-content input {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px;
  margin: 4px 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown-content label {
  margin-top: 8px;
  font-weight: bold;
  display: block;
}
