/* --------------------------- Font --------------------------- */
@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}

/* --------------------------- Header --------------------------- */
#nav {
  width: 100%;
  height: 10vh;
  background-color: rgba(134, 136, 243);
  color: white;
  font-size: 2em;
  font-family: Ubuntu;
  text-align: center;
  line-height: 14vh;
}

/* --------------------------- Form --------------------------- */
#input-data {
  width: 90vw;
  font-family: Ubuntu;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.input-text {
  flex: 1 1 210px;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #262626;
  outline: none;
  height: auto;
  transition: 0.25s;
}

.input-text:focus {
  border-color: rgba(134, 136, 243);
}

.input-btn {
  width: 100%;
  max-width: 200px;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #262626;
  cursor: pointer;
  transition: 0.3s all ease;
  text-align: center;
  margin-top: 10px;
  display: block;
}

/* Hover do botão */
.input-btn:hover {
  background-color: #383838;
  border-color: #383838;
  color: white;
}

/* Remover setas de input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* --------------------------- Table --------------------------- */
#myTable {
  font-family: Ubuntu;
  width: 90%;
  margin: 0 auto;
  margin-top: 5vh;
  border-collapse: collapse;
}

#myTable th {
  background-color: rgba(134, 136, 243);
  padding: 10px;
  color: white;
  font-weight: 100;
}

#myTable td,
#myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable td {
  padding: 5px;
}

#myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#myTable tr:hover {
  background-color: #ddd;
}

.remove-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* --------------------------- Responsividade --------------------------- */
@media screen and (max-width: 600px) {
  .input-group {
    flex-direction: column;
    align-items: center;
  }

  .input-text {
    width: 100%;
    max-width: 300px;
  }

  .input-btn {
    width: 100%;
    max-width: 200px;
  }
}
